<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Prijavljeni ste!</h1>
            <p class="pt-3">
                Čestitamo. Uspješno ste se prijavili na natjecanje.
            </p>
            <a href="/" class="btn btn-primary">Naslovnica</a>
        </div>
    </div>
</div>  