<!DOCTYPE html>
<html>

<head>
    <title> Moja express aplikacija</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1> </h1>
</body>

</html>
{{{body}}}
</body>

</html>